eli5
imbalanced-learn
ipython-sql
jupyter
jupyterlab
mlxtend
numpy
matplotlib
opencv-contrib-python
opencv-python
openpyxl
pandas
pycausalimpact
seaborn
scikit-image
scikit-learn
scipy
statsmodels
tqdm
xgboost
